*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    --background-color:#fff;
    --second-background-color:#c8e8e0;
    --text-color: #4e746b;
    --Main-color:#2e937a;
}
body{
    background-color: var(--background-color);
}
.btn{
    padding: 8px 16px;
    border-radius: 5px;
    transition: .5s;
    background-color: var(--Main-color);
    color: var(--background-color);
}
.btn:hover{
    background-color: var(--background-color);
    border: 1px solid var(--Main-color);
    color: var(--text-color);
}
/*------------------------------------------navbar start---------------------------------------*/
nav{
    height: 10vh;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 1s;
}
.nav-brand{
    color: var(--text-color);
    font-size: 1.5rem;
}
#nav-bars{
    color: var(--text-color);
    display: none;
}
.navlink{
    display: flex;
    color: var(--text-color);
}
.navlink a{
    color: var(--text-color);
    margin: 0 2rem;
}
@media screen and (max-width: 768px) {
    #nav-bars{
        display: block;
    } 
    .navlink{
        display: none;
    }
    .change{
        position: absolute;
        background-color: var(--second-background-color);
        top: 3rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        width: 200px;
        align-items: center;
        border-radius: 10px;
        z-index: 100;
    }
    .navlinks a{
        color: var(--text-color);
    }
}
/*------------------------------------------navbar end---------------------------------------*/
/*------------------------------------------header start---------------------------------------*/
.hero-row{
    margin: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header1{
    
}
.header1 h1{
    font-size: 3rem;
    color: var(--Main-color);
    margin: 20px 0;
}
.header1 p{
    color: var(--text-color);
    margin-bottom: 30px;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2 img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 992px) {
    .header1 h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 768px) {
   .hero-row{
    grid-template-columns: repeat(1, 1fr);
   }
   .header1{
    margin: 0;
    text-align: center;
   }
}
@media screen and (max-width: 480px) {
    .header1 h1{
        font-size: 2.5rem;
    }
}
/*------------------------------------------header end---------------------------------------*/
/*------------------------------------------about start---------------------------------------*/
.about-row{
    margin: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}
.about-1 h3{
    font-size: 2.7rem;
    color: var(--Main-color);
    margin: 20px 0;
}
.about-1 p{
    color: var(--text-color);
    margin-bottom: 30px;
}
.about-2 img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 992px) {
    .about-1 h1{
        font-size: 2rem;
    }
    .about-1 h3{
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 768px) {
    .about-row{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-1 h3{
        font-size: 2.5rem;
        margin: 20px 0;
    }
}
@media screen and (max-width: 480px) {
    .about-1 h3{
        font-size: 2.2rem;
    }
}
/*------------------------------------------about end---------------------------------------*/
/*------------------------------------------service start---------------------------------------*/
#Services{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 0 3rem;
    text-align: center;
}
.service-heading h1{
    font-size: 3rem;
}
.service-heading p{
    font-size: 1.8rem;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.service1{
    max-width: 275px;
    height: 300px;
    padding: 0 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--second-background-color);
}
.service1:hover{
    background-color: var(--Main-color);
    color: var(--background-color);
}
.service-img{
    width: 35%;
    height: 35%;
}
.service-img img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    #Services{
        grid-template-columns: repeat(1, 1fr);
        
    }
}
/*------------------------------------------service end---------------------------------------*/
/*------------------------------------------portfolio start---------------------------------------
.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.portfolioheading{
    text-align: center;
    color: var(--second-text-color);
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 600;
}
.portfolio{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
}
.portfolio1{
    height: 230px;
}
.portfolio1 img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 20px;
}
@media (max-width:768px){
    #portfolio{
        margin-top: .5rem;
    }
    .portfolioheading{
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0px 0;
    }
}
------------------------------------------portfolio end---------------------------------------*/
/*------------------------------------------footer start---------------------------------------*/
.footer{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem;
}
.social-links i{
    font-size: 3rem;
    margin: 20px;
    color: var(--Main-color);
    transition: 1S;
}
.footer i:hover{
transform: scale(1.5);
}
.footer p{
    text-align: center;
    color: var(--text-color);
    margin: 10px 0;
}
@media screen and (max-width: 768px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 100vh;
    }
}
@media screen and (max-width: 480px) {
    .footer i{
        margin: 20px 1rem;
        font-size: 2.2rem;
    }
}
/*------------------------------------------footer end---------------------------------------*/