*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: None;
    font-family: 'Dancing Script', cursive;
    font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --first-color:#3D6453;
    --second-color:#365949;
    --third-color: #afe6cc;
    --forth-color: #E2EAE9;
    --title-color:#222523;
    --text-color:#4E544E;
    --text-color-light:#757C7A;
    --body-color:#D2D2D2;
    --container-color:#fff;
}
/*----Navbar start-----*/
.navbar-brand{
    color: var(--title-color);
    font-weight: 700;
}
.navbar-brand:hover{
    color: var(--first-color);
}
.navbar-toggler-icon{
    color: var(--title-color);
    padding: 5px;
}
.nav-link{
    color: var(--title-color);
    text-align: center;
    padding: 12px 0;
}
.nav-link:hover{
    color: var(--first-color);
}
@media screen and (max-width: 480px) {
    .nav-link{
        background-color: var(--main);
        color: var(--second-text-color);
        border-radius: 10px;
    }
}
/*----Navbar end-----*/
/*---------------------------------Home-------------------------------------------*/
.home-text{
    padding-top: 10rem;
}
.home-text h1{
    font-size: 2.5rem;
    color: var(--first-color);
    font-weight: bold;
}
.home-text h2{
    color: var(--text-color);
    font-size: 3rem;
    margin: 15px 0;
}
.home-text p{
    color: var(--text-color-light);
    line-height: 33px;
    margin-right: 100px;
}
.home-img img{
    max-width: 100%;
}
#Home .btn{
    background-color: var(--first-color);
	color: var(--container-color);
	border: 1px solid transparent;
	border-radius: 5px;
}
#Home .btn:hover{
    
}
@media screen and (max-width: 1200px) {
    .home-text{
        padding-top: 7rem;
    }
    .home-text h2{
        color: var(--text-color);
        font-size: 2.7rem;
        margin: 15px 0;
    }
      .home-text p{
        margin-right: 0;
      }
  }
  @media screen and (max-width: 992px) {
    #Home .row{
        min-height: 70vh;
        align-items: center;
        justify-content: center;
    }
    .home-text h2 {
        font-size: 2rem;
      }
      .home-text p{
        margin-right: 0;
      }
  }
  @media screen and (max-width: 768px) {
    #Home .row{
        padding-top: 5rem;
    }
    .home-text{
        padding-top: 0rem;
    }
    .home-text h1 {
      font-size: 3.3rem;
    }
    .home-text h2 {
        font-size: 3rem;
      }
      .home-text p{
        margin-right: 0;
      }
  }
@media screen and (max-width: 480px) {
    #Home .row{
        padding-top: 4rem;
    }
    .home-text{
        padding-top: 0rem;
    }
    .home-text h1 {
      font-size: 3rem;
    }
    .home-text h2 {
        font-size: 2.8rem;
      }
      .home-text p{
        margin-right: 0;
      }
  }
/*----------------------------Home end----------------------------------------*/
/*----------------------------About----------------------------------------*/
.about-text{
    padding-top: 5rem;
}
.about-text h1{
    color: var(--first-color);
    font-size: 3rem;
    font-weight: 600;
}
.about-text h2{
    color: var(--text-color);
    font-size: 2.2rem;
    margin: 20px 0;
}
.about-text p{
    color: var(--text-color-light);
    line-height: 30px;
}
.about-image{
    min-width: 100%;
}
.social-links{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    right: 55%;
    top: 110%;
    background-color: var(--first-color);
    color: var(--container-color);
    padding: 10px;
    border-radius: 5px;
}
.social-links i{
    margin: .5rem 0;
    font-size: 1.3rem;
}
#About .btn{
    background-color: var(--first-color);
	color: var(--container-color);
	border: 1px solid transparent;
	border-radius: 5px;
}
@media screen and (max-width: 1200px) {
    #About .row{
        margin: 5rem 0;
    }
    .about-text h1 {
      font-size: 2.1rem;}
    .about-text h2 {
        font-size: 2rem;
      }
  }
  @media screen and (max-width: 992px) {
    .about-text h1 {
      font-size: 2rem;
}
    .about-text h2 {
        font-size: 1.7rem;
      }
  }
@media screen and (max-width: 768px) {
    .social-links{
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        right: 10%;
        top: 170%;
    }
    .about-text{
        padding-top: 0rem;
    }
    .about-text h1 {
      font-size: 3rem;
    }
    .about-text h2 {
        font-size: 2.5rem;
      }
      #About .row{
        padding-top: 3rem;
    }
  }
  @media screen and (max-width: 480px) {
    #About .row{
        margin: 0;
    }
    .about-text{
        padding-top: 0rem;
    }
    .about-text h1 {
      font-size: 2.7rem;
    }
    .about-text h2 {
        font-size: 2rem;
      }
      .social-links{
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        right: 2%;
        top: 157%;
        background-color: var(--first-color);
        color: var(--container-color);
        padding: 10px;
        border-radius: 5px;
    }
  }
/*----About end-----*/
/*----Services-----*/
#Services .row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    border-radius: 20px;
}
#Services h1{
    color: var(--container-color);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    border-bottom: 3px solid;
}
#Services span{
    color: var(--main);
}
#Services .service-box{
    display: flex;
}
#Services .card{
    background-color: var(--container-color);
    border-radius: 10px;
    color: var(--second-bg-color);
    overflow: hidden;
    margin: 10px;
}
.fa-solid{
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: 15px;
}
.card-body h1{
    color: var(--title-color);
    margin-top: 8px;
}
#Services p{
    color: var(--text-color-light);
}
#Services .card:hover{
    transition-duration: .5s;
    background-color: var(--second-text-color);
    color: var(--main);
}
#Services .btn{
    background-color: var(--first-color);
    color: var(--container-color);
    cursor: pointer;
}
#Services .btn:hover{
    color: var(--container-color);
}
@media screen and (max-width: 992px) {
    #Services h1{
      padding-top: 3rem;
}
  }
  @media screen and (max-width: 768px) {
    #Services .service-box{
        display: flex;
        flex-direction: column;
        flex-basis: 93%;
    }
    #Services h1{
      padding: 4rem 0;
}
  }
  @media screen and (max-width: 480px) {
    #Services .card{
      margin-bottom: 0rem;
}
  }
/*----services end-----*/
/*----Team-----
#Team .row{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#Team h1{
    color: var(--main);
    text-align: center;
    font-size: 4rem;
}
.box-front{
    text-align: center;
    color: var(--text);
    background-color: var(--second-bg-color);
    padding: 1rem 0;
    border-radius: 25px;
    height: 22rem;
}
.box-front h5{
    padding: .5rem 0;
}
.box-front img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.fa-brands{
    font-size: 1.2rem;
    padding: 0 .4rem;
}
/*----Team end-----
/*----Testimonials-----
#Portfolio{
    border-radius: 50px;
}
#Portfolio .row{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
#Portfolio .card-body{
    background-color: var(--main);
    padding: 1rem 0;
}
#Portfolio .card{
    background-color: var(--second-bg-color);
    padding: 1rem 0;
    height: 15rem;
}
#Portfolio .row h1{
    color: var(--main);
    text-align: center;
    font-weight: bolder;
    font-size: 4rem ;
}
.card-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.Footer{
    text-align: center;
    color: var(--main);
    background-color: var(--second-bg-color);
}
@media screen and (max-width: 992px) {
    #Portfoilio h1{
      padding-top: 3rem;
}
  }
  /*----Team end-----*/
/*----Testimonials end-----*/
/*----Services-----*/
#Portfolio .row{
    min-height: 100vh;
    padding-top: 5rem;
}
#Portfolio .card-head{
    padding: 10px;
}
#Portfolio .title{
    font-size: 5rem;
    color: var(--first-color);
    font-weight: 600;
}
#Portfolio .subtitle{
    font-size: 2rem;
    color: var(--title-color);
}
#Portfolio .card{
    border-radius: 10px;
    height: 15rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
}
#Portfolio .card-img{
    width: 100%;
    height: 100%;
}
#Portfolio .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#Portfolio .card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: var(--first-color);
    backdrop-filter: blur(5px);
    transition: .7s;
    color: var(--forth-color);
}
#Portfolio .card-body a{
    background-color: var(--forth-color);
    color: var(--first-color);
    margin: 5rem 6rem;
}
#Portfolio .card:hover .card-body{
    right: 0;
}
@media screen and (max-width: 1200px) {
    #Portfolio .title{
        font-size: 3.5rem;
    }
    
    #Portfolio .row{
      padding-top: 4rem;
  }
}
@media screen and (max-width: 992px) {
    #Portfolio .title{
        font-size: 4.3rem;
        color: var(--first-color);
        font-weight: 600;
    }
    #Portfolio .subtitle{
        font-size: 2.3rem;
        color: var(--title-color);
    }
}
@media screen and (max-width: 768px) {
    .service-box{
        flex-basis: 50%;
    }
    #Portfolio .title{
        text-align: center;
        margin-bottom: 2rem;
    }
    #Portfolio .subtitle{
        text-align: center;
    }

      #Portfolio .row{
        padding-top: 4rem;
    }
  }
/*----services end-----*/
/*----Footer-----*/
#Contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--main);
    margin: 5rem 0 0 0;
    background-color: var(--first-color);
    color: var(--container-color);
    min-height: 50vh;
}
.qute{
    background-color: var(--forth-color);
    color: var(--first-color);
    border-radius: 25px;
    margin-top: -28rem;
    text-align: center;
    margin-left:10rem;
    margin-right: 10rem;
}
.qute h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--first-color);
    margin-bottom: 20px;
}
.credit{
    font-size: 1.2rem;
}
.qutebtn{
    background-color: var(--first-color);
    color: var(--container-color);
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}
@media screen and (max-width: 992px) {
    .qute h1{
        font-size: 2rem;
  }
    
}
@media screen and (max-width: 768px) {
    .qute h1{
        font-size: 1.8rem;
  }
    
}
.qute{
    margin-left:7rem;
    margin-right: 7rem;
}
@media screen and (max-width: 480px) {
    .qute{
      margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -26rem;
  }
  .qute{
    padding: 0 20px;
}
}
/*----footer end-----*/