*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: None;
}
:root{
    --bgcolor: #1D1F21;
    --second-bg-color: #444648;
    --text: #fff;
    --main: #FF6600;
    --third-bg-color:#929292;
  }
body{
    background-color: var(--bgcolor);
}
/*:root{
    --bgcolor: #1f242d;
    --second-bg-color: #323946;
    --text: #fff;
    --main: #0ef;
}
:root{
    --main:#e63b32;
    --blk:#333333;
    --White:#f4f6fa;
    --second-bg:#bdbdbd;
}*/
/*----Navbar start-----*/
nav .container{
    background-color: var(--second-bg-color);
    border-radius: 10px;
}
.navbar-brand{
    color: var(--text);
}
.navbar-toggler-icon{
    color: var(--text);
    padding: 5px;
}
.nav-link{
    color: var(--text);
    text-align: center;
}
.nav-link:hover{
    background-color: var(--bgcolor);
    border-radius: 5px;
    color: var(--text);
}
/*----Navbar end-----*/
/*---------------------------------Home-------------------------------------------*/
#Home .row{
    align-items: center;
    min-height: 100vh;
}
.home-text h1{
    font-size: 6.5rem;
    color: var(--main);
    font-weight: bolder;
}
.home-text h2{
    color: var(--text);
    font-size: 4rem;
    padding: 10px 0;
}
.home-text p{
    color: var(--third-bg-color);
}
.home-img img{
    min-width: 100%;
}
.btn{
    background-color: var(--main);
    color: var(--White);
}
@media screen and (max-width: 1200px) {
    .home-text h1 {
      font-size: 6rem;}
    .home-text h2 {
        font-size: 2.5rem;
      }
  }
  @media screen and (max-width: 992px) {
    .home-text h1 {
      padding-top: 4rem;
}
    .home-text h2 {
        font-size: 2rem;
      }
  }
@media screen and (max-width: 480px) {
    .home-text h1 {
      font-size: 5rem;
    }
    .home-text h2 {
        font-size: 2rem;
      }
  }
/*----------------------------Home end----------------------------------------*/
/*----------------------------About----------------------------------------*/
#About .row{
    min-height: 100vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.about-text h1{
    color: var(--main);
    font-size: 5rem;
    font-weight: bold;
}
.about-text h2{
    color: var(--text);
    font-size: 2.5rem;
}
.about-text p{
    color: var(--text);
}
.about-image{
    min-width: 100%;
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .about-text h1 {
      font-size: 4.5rem;}
    .about-text h2 {
        font-size: 2.3rem;
      }
  }
  @media screen and (max-width: 992px) {
    .about-text h1 {
      font-size: 3.5rem;
}
    .about-text h2 {
        font-size: 1.7rem;
      }
  }
@media screen and (max-width: 768px) {
    .about-text h1 {
      font-size: 4.3rem;
    }
    .about-text h2 {
        font-size: 2.5rem;
      }
      #About .row{
        padding-top: 3rem;
    }
  }
  @media screen and (max-width: 480px) {
    .about-text h1 {
      font-size: 4rem;
    }
    .about-text h2 {
        font-size: 2.2rem;
      }
  }
/*----About end-----*/
/*----Services-----
#Services .row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
#Services h1{
    color: var(--text);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    border-bottom: 3px solid;
}
#Services span{
    color: var(--main);
}
#Services .card{
    background-color: var(--second-bg-color);
    border-radius: 10px;
    color: var(--text);
    overflow: hidden;
    text-align: center; 
    height: 20rem;
    padding: 5px 0;
}
.fas{
    font-size: 3rem;
    padding: 1rem;
}
#Services .card:hover{
    transition-duration: .5s;
}
@media screen and (max-width: 992px) {
    #Services h1{
      padding-top: 3rem;
}
  }
  @media screen and (max-width: 768px) {
    #Services h1{
      padding: 4rem 0;
}
  }
----services end-----*/
/*----Team-----
#Team .row{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#Team h1{
    color: var(--main);
    text-align: center;
    font-size: 4rem;
}
.box-front{
    text-align: center;
    color: var(--text);
    background-color: var(--second-bg-color);
    padding: 1rem 0;
    border-radius: 25px;
    height: 22rem;
}
.box-front h5{
    padding: .5rem 0;
}
.box-front img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.fa-brands{
    font-size: 1.2rem;
    padding: 0 .4rem;
}
/*----Team end-----
/*----Testimonials-----
#Portfolio{
    border-radius: 50px;
}
#Portfolio .row{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
#Portfolio .card-body{
    background-color: var(--main);
    padding: 1rem 0;
}
#Portfolio .card{
    background-color: var(--second-bg-color);
    padding: 1rem 0;
    height: 15rem;
}
#Portfolio .row h1{
    color: var(--main);
    text-align: center;
    font-weight: bolder;
    font-size: 4rem ;
}
.card-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.Footer{
    text-align: center;
    color: var(--main);
    background-color: var(--second-bg-color);
}
@media screen and (max-width: 992px) {
    #Portfoilio h1{
      padding-top: 3rem;
}
  }
  /*----Team end-----*/
/*----Testimonials end-----*/
/*----Services-----*/
#Portfolio{
    background-color: var(--bgcolor);
}
#Portfolio .row{
    min-height: 100vh;
    padding-top: 10rem;
}
#Portfolio .card-head{
    padding: 10px;
    color: var(--main);
    height: 13rem;
}
#Portfolio .card{
    background-color: var(--third-bg-color);
    border-radius: 20px;
    height: 13rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
}
#Portfoilio .card-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
#Portfolio .card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #1d1f212d;
    backdrop-filter: blur(5px);
    color: var(--text);
    transition: .7s;
}
#Portfolio .card-text1 h5{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
}
#Portfolio .card:hover .card-body{
    right: 0;
}
@media screen and (max-width: 768px) {

      #Portfolio .row{
        padding-top: 4rem;
    }
  }
/*----services end-----*/
/*----Footer-----*/
#Contact{
    text-align: center;
    color: var(--main);
}
/*----footer end-----*/