*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: None;
}
:root{
    --bgcolor: #eef1f6;
    --second-bg-color: #d3e1e2;
    --text: #929292;
    --main: #407c87;
    --second-text-color:#fff;
  }
/*:root{
    --bgcolor: #396AA5;
    --second-bg-color:#182A40;
    --text: #fff;
    --main: #0ef;
}
:root{
    --main:#e63b32;
    --blk:#333333;
    --White:#f4f6fa;
    --second-bg:#bdbdbd;
}*/
/*----Navbar start-----*/
.navbar-brand{
    color: var(--main);

}
.navbar-toggler-icon{
    color: var(--main);
    padding: 5px;
}
.nav-link{
    color: var(--main);
    text-align: center;
    padding: 12px 0;
}
.nav-link:hover{
    color: var(--main);
}
/*----Navbar end-----*/
/*---------------------------------Home-------------------------------------------*/
#Home .row{
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
.home-text h1{
    font-size: 2.5rem;
    color: var(--main);
}
.home-text h2{
    color: var(--main);
    font-size: 3rem;
    padding: 10px 0;
    font-weight: bold;
}
.home-text p{
    color: var(--text);
    line-height: 33px;
    margin-right: 100px;
}
.home-img img{
    min-width: 100%;
}
#Home .btn{
    background-color: var(--main);
	color: var(--second-text-color);
	border: 1px solid transparent;
	border-radius: 10px;
}
#Home .btn:hover{
    background-color: var(--bgcolor);
	color: var(--main);
	border: 1px solid var(--main);
}
@media screen and (max-width: 1200px) {
    .home-text h1 {
      font-size: 6rem;}
    .home-text h2 {
        font-size: 2.5rem;
      }
      .home-text p{
        margin-right: 0;
      }
  }
  @media screen and (max-width: 992px) {
    .home-text h1 {
      padding-top: 4rem;
}
    .home-text h2 {
        font-size: 2rem;
      }
      .home-text p{
        margin-right: 0;
      }
  }
@media screen and (max-width: 480px) {
    .home-text h1 {
      font-size: 4.2rem;
    }
    .home-text h2 {
        font-size: 2rem;
      }
      .home-text p{
        margin-right: 0;
      }
  }
/*----------------------------Home end----------------------------------------*/
/*----------------------------About----------------------------------------*/
#About .row{
    min-height: 100vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.about-text h1{
    color: var(--second-bg-color);
    font-size: 3rem;
    font-weight: bold;
}
.about-text h2{
    color: var(--main);
    font-size: 2.2rem;
    margin: 20px 0;
    font-weight: bold;
}
.about-text p{
    color: var(--text);
    line-height: 30px;
}
.about-image{
    min-width: 100%;
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .about-text h1 {
      font-size: 4.5rem;}
    .about-text h2 {
        font-size: 2.3rem;
      }
  }
  @media screen and (max-width: 992px) {
    .about-text h1 {
      font-size: 3.5rem;
}
    .about-text h2 {
        font-size: 1.7rem;
      }
  }
@media screen and (max-width: 768px) {
    .about-text h1 {
      font-size: 4.3rem;
    }
    .about-text h2 {
        font-size: 2.5rem;
      }
      #About .row{
        padding-top: 3rem;
    }
  }
  @media screen and (max-width: 480px) {
    .about-text h1 {
      font-size: 4rem;
    }
    .about-text h2 {
        font-size: 2.2rem;
      }
  }
/*----About end-----*/
/*----Services-----*/
#Services{
    background-color: var(--bgcolor);
}
#Services .row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
#Services h1{
    color: var(--main);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    border-bottom: 3px solid;
}
#Services span{
    color: var(--main);
}
#Services .card{
    background-color: var(--second-text-color);
    border-radius: 10px;
    color: var(--main);
    overflow: hidden;
    text-align: center; 
}
.fas{
    font-size: 3rem;
    padding: 1rem;
    color: var(--text);
}
#Services .card:hover{
    transition-duration: .5s;
    background-color: var(--main);
    color: var(--bgcolor);
}
#Services .btn{
    background-color: var(--main);
    color: var(--second-text-color);
}
#Services .btn:hover{
    background-color: var(--second-text-color);
    color: var(--main);
}
@media screen and (max-width: 992px) {
    #Services h1{
      padding-top: 3rem;
}
  }
  @media screen and (max-width: 768px) {
    #Services h1{
      padding: 4rem 0;
}
  }
/*----services end-----*/
/*----Team-----
#Team .row{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#Team h1{
    color: var(--main);
    text-align: center;
    font-size: 4rem;
}
.box-front{
    text-align: center;
    color: var(--text);
    background-color: var(--second-bg-color);
    padding: 1rem 0;
    border-radius: 25px;
    height: 22rem;
}
.box-front h5{
    padding: .5rem 0;
}
.box-front img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.fa-brands{
    font-size: 1.2rem;
    padding: 0 .4rem;
}
/*----Team end-----
/*----Testimonials-----
#Portfolio{
    border-radius: 50px;
}
#Portfolio .row{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
#Portfolio .card-body{
    background-color: var(--main);
    padding: 1rem 0;
}
#Portfolio .card{
    background-color: var(--second-bg-color);
    padding: 1rem 0;
    height: 15rem;
}
#Portfolio .row h1{
    color: var(--main);
    text-align: center;
    font-weight: bolder;
    font-size: 4rem ;
}
.card-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.Footer{
    text-align: center;
    color: var(--main);
    background-color: var(--second-bg-color);
}
@media screen and (max-width: 992px) {
    #Portfoilio h1{
      padding-top: 3rem;
}
  }
  /*----Team end-----*/
/*----Testimonials end-----*/
/*----Services-----*/
#Portfolio .row{
    min-height: 100vh;
    padding-top: 10rem;
}
#Portfolio .card-head{
    padding: 10px;
    color: var(--main);
}
#Portfolio .title{
    font-size: 5rem;
}
#Portfolio .subtitle{
    font-size: 2rem;
}
#Portfolio .card{
    border-radius: 10px;
    height: 15rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
}
#Portfolio .card-img{
    width: 100%;
    height: 100%;
}
#Portfolio .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#Portfolio .card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #1d1f2187;
    backdrop-filter: blur(5px);
    transition: .7s;
}
.card-text{
    color: var(--second-text-color);
}
#Portfolio .card:hover .card-body{
    right: 0;
}
@media screen and (max-width: 768px) {

      #Portfolio .row{
        padding-top: 4rem;
    }
  }
/*----services end-----*/
/*----Footer-----*/
#Contact{
    text-align: center;
    color: var(--main);
    margin: 5rem 0 0 0;
    background-color: var(--main);
    color: var(--second-text-color);
}
.qute{
    background-color: var(--second-bg-color);
    color: var(--text);
    border-radius: 25px;
    margin-bottom: 5rem;
}
.qute h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--main);
}
.social-links i{
    margin: 1rem 1.2rem;
    font-size: 1.5rem;
}
.credit{
    font-size: 1.2rem;
}
#Contact .btn{
    background-color: var(--main);
    color: var(--second-text-color);
    margin-top: 15px;
}

/*----footer end-----*/